<!DOCTYPE html>
html(lang="en")
    include ./includes/head.pug
    body
        #app
            div(class="full-container")
                div(class="col-md-1 left-container")
                    div(class="navigation-container")
                        include ./includes/navigation.pug       
                div(class="col-md-11 right-container")
                    div(class="header-container container")
                        div(class="logo-container col-md-4")
                            img(src="./img/logo.png", alt="Reader")
                        div(class="search-container col-md-4")
                            test-component
                        div(class="login-container col-md-4")
        script(src="./../js/bundle.js")
                
