<!DOCTYPE html>
html(lang="en")
    include ./includes/head.pug
    title up-next - Register
    body
        #app
            div(class="full-container")
                div(class="col-md-1 left-container")
                    div(class="navigation-container")
                        include ./includes/navigation.pug       
                div(class="col-md-11 right-container")
                    div(class="header-container container")
                        include ./includes/header.pug
                    div(class="register-container container")
                        h4 Create A New Account
                        register-component
        include ./includes/scripts.pug
                
