@font-face {
  font-family: GillSans;
  src: url('./../fonts/GillSans.otf');
}
@font-face {
  font-family: GillSansBold;
  src: url('./../fonts/gillsansstd-bold.otf');
}
@font-face {
  font-family: GillSansRegular;
  src: url('./../fonts/gillsansstd.otf');
}
@font-face {
  font-family: GillSansUltraBold;
  src: url('./assets/fonts/gillsansstd-extrabold.otf');
}
@font-face {
  font-family: 'GillSansLight';
  src: url('./../fonts/gillsansstd-light.otf');
}

body {
  font-family: GillSansRegular;
}
p,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
button {
  font-family: GillSansRegular;
}

:root {
  --upnext-blue: #25a8c0;
  --upnext-hover-blue: #2fcae6;
  --upnext-yellow: #ffaa00;
  --upnext-input-border: #2fcae6;
  --upnext-input-addon: #7e7e7e;
  --upnext-ash: #ececec;
  --upnext-light-ash: #f3f3f3;
}
.full-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.left-container {
  background-color: white;
  height: 100%;
}

.right-container {
  background-color: var(--upnext-blue);
  height: 100%;
}

.navigation-container {
  padding-top: 20px;
}

.navigation-container ul {
  padding: 0 !important;
  list-style: none;
}

.navigation-container ul li a {
  display: block;
  color: var(--upnext-blue);
  padding: 12px 10px;
  text-decoration: none;
  font-size: 1.1em;
  transition: 0.3s;
}

.navigation-container ul li a:hover {
  color: var(--upnext-hover-blue);
}

.social-media {
  position: absolute;
  bottom: 20px;
}

.social-media ul {
  list-style: none;
  padding: 0 !important;
}

.social-media ul li {
  display: inline-block;
  padding: 0;
}

.social-media ul li a {
  font-size: 1em;
  color: var(--upnext-blue);
  padding: 5px;
}

.header-container {
  padding: 25px 0 25px 0;
}

.register-container {
  width: 60%;
  margin: 100px auto;
  background: white;
  padding: 25px 40px 30px 40px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
}
.register-container-small {
  width: 40%;
  margin: 100px auto;
  background: white;
  padding: 25px 40px 30px 40px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
}
.register-container-small h4 {
  color: var(--upnext-blue);
}
.register-container h4 {
  color: var(--upnext-blue);
  margin-left: 15px;
}
.register-container-big {
  width: 80%;
  margin: 15px auto;
  background: white;
  padding: 25px 40px 30px 40px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
}
.no-padding {
  padding: 0 !important;
}

/* input Styles */
.input-group-addon {
  background-color: white !important;
  color: var(--upnext-input-addon);
  border-radius: 20px !important;
  margin-left: 20px !important;
}
.register-form input {
  display: block;
  border-radius: 6px;
  border: 1px solid var(--upnext-input-border);
  width: 100%;
  outline: none;
}

.input-container {
  margin-top: 15px;
}

.custom-input {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  outline: none;
}

.form-error {
  color: #e10858;
}
