div(class="logo-container col-md-4")
    a(href="/")
        img(src="./../img/logo.png", alt="Reader")
div(class="search-container col-md-4")
    search-component
div(class="login-container col-md-4")
    register-header-component