ul
    li
        a(href="#") About
    li
        a(href="#") FAQs
    li
        a(href="#") Contact us
    li
        a(href="#") Terms & Privacy
div(class="social-media")
    ul
        li
            a(href="https://facebook.com/Upnext-185862325513299/" target="_blank")
                span(class="fa fa-facebook") 
        li           
            a(href="https://twitter.com/upnext_co" target="_blank")
                span(class="fa fa-twitter")
        li            
            a(href="https://www.instagram.com/upnext_co/" target="_blank")
                span(class="fa fa-instagram")     